<%- include('partials/_header'); %>

    <div class="container">
        <!-- code here -->
        <div class="card">
            <form class="card-form" action="/add_hijo" method="post">
                <div class="input">
                    <input type="text" class="input-field" name = "id" required/>
                    <label class="input-label">ID*</label>
                </div>
                    <div class="input">
                    <input type="text" class="input-field" name = "nom" required/>
                    <label class="input-label">Nombre*</label>
                </div>
                    <div class="input">
                    <input type="text" class="input-field" name = "hijode"/>
                    <label class="input-label">Hijo de*</label>
                </div>
                <div class="action">
                    <button type = "submit" class="action-button">Crear</button>
                </div>
            </form>
            <div class="card-info">
                <p>Los campos con * son obligatorios para llenar</p>
            </div>
        </div>
        
        <div class="card">
            <div class="table">
                <div class="table-header">
                    <div class="header__item"><a id="ID" class="filter__link" href="#">ID</a></div>
                    <div class="header__item"><a id="nom" class="filter__link filter__link--number" href="#">Nombre</a></div>
                    <div class="header__item"><a id="hijode" class="filter__link filter__link--number" href="#">Hijo de</a></div>
                    <div class="header__item"><a id="delete" class="filter__link filter__link--number" href="#">Borrar</a></div>
                </div>
                <div class="table-content">	
                    <% if(data){%>
                        <%for (var i=0;i<data.length;i++){ %>
                            <div class="table-row">		
                                <div class="table-data"><%= data[i].id %></div>
                                <div class="table-data"><%= data[i].nom %></div>
                                <div class="table-data"><%= data[i].hijode %></div>
                                <div class="table-data"><button class = "delete_button" onclick="location.href='/delete_hijo/<%=data[i].id%>'">x</button></div>
                            </div>
                        <%} %>
                    <%} %>
                </div>	
            </div>
        </div>
    </div>   
    <div class="atras" > 
        <button type = "submit" onclick="history.go(-1);" class="action-button">Atrás </button>
    </div>
<% include('partials/_footer') -%>